configuration {
    modi: "drun";
    display-drun: "";
    display-run: "";
    display-window: "";
    show-icons: true;
    icon-theme: "Adwaita";
    font: "Agave Nerd Font Mono 11";
    drun-display-format: "{icon} {name}";
}

* {
    bg:     rgba(24, 22, 22, 0.85);
    bg-alt: rgba(40, 39, 39, 0.75);
    fg:     #c5c9c5;

    selected:#8ea4a2;
    active: #8a9a7b;
    urgent: #c4746e;

    border-col: #8ea4a2;

    background-color: transparent;
    text-color: @fg;
}

window {
    width: 600px;
    border: 2px;
    border-color: @border-col;
    border-radius: 14px;
    padding: 12px;
    background-color: @bg;
}

inputbar {
    background-color: @bg-alt;
    border: 1.5px;
    border-color: @border-col;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 12px 0;
}

prompt {
    enabled: false;
}

entry {
    placeholder: "Search...";
}

listview {
    lines: 8;
    spacing: 6px;
}

element {
    padding: 10px;
    border-radius: 10px;
}

element selected.normal {
    background-color: @selected;
    text-color: #181616;
}

element selected.active {
    background-color: @active;
    text-color: #181616;
}

element selected.urgent {
    background-color: @urgent;
    text-color: #181616;
}

element-icon {
    size: 48px;
    margin: 0 12px 0 0;
}
