* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    border: none;
}

window#waybar {
    background: rgba(45, 53, 59, 0.90);
    color: #d3c6aa;
    border-bottom: 2px solid #3d474e;
}

/* Arch Logo */

#custom-logo {
    background: transparent;
    color: #d3c6aa;
    margin: 3px 3px 3px 6px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 15px;
}

/* Workspaces */

#workspaces {
    margin: 3px 0;
}

#workspaces button {
    background: transparent;
    color: #9da9a0;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #d3c6aa;
    color: #2d353b;
}

#workspaces button:hover {
    background: #3d474e;
    color: #d3c6aa;
}

/* Modules */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background: transparent;
    color: #d3c6aa;
    margin: 3px 3px;
    padding: 0 10px;
    border-radius: 10px;
}

/* Right spacing */

#tray {
    margin-right: 6px;
}

#cpu {
    background: #dbbc7f;
    color: #000000;
}

/* MEMORY */

#memory {
    background: #a7c080;
    color: #000000;
}

/* VOLUME */

#pulseaudio {
    background: #e67e80;
    color: #000000;
}

/* Tooltip */

tooltip {
    background: #2d353b;
    border: 2px solid #3d474e;
    border-radius: 10px;
}

tooltip label {
    color: #d3c6aa;
}
