* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    border: none;
}

window#waybar {
    background: rgba(40, 40, 40, 0.90);
    color: #ebdbb2;
    border-bottom: 2px solid #504945;
}

/* Arch Logo */

#custom-logo {
    background: transparent;
    color: #ebdbb2;
    margin: 3px 3px 3px 6px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 15px;
}

/* Workspaces */

#workspaces {
    margin: 3px 0;
}

#workspaces button {
    background: transparent;
    color: #a89984;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #d79921;
    color: #282828;
}

#workspaces button:hover {
    background: #504945;
    color: #fbf1c7;
}

/* Modules */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background: transparent;
    color: #ebdbb2;
    margin: 3px 3px;
    padding: 0 10px;
    border-radius: 10px;
}

/* Right spacing */

#tray {
    margin-right: 6px;
}

/* Tooltip */

tooltip {
    background: #282828;
    border: 2px solid #504945;
    border-radius: 10px;
}

tooltip label {
    color: #ebdbb2;
}
