* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    border: none;
}

window#waybar {
    background: rgba(23, 23, 23, 0.90);
    color: #5884d4;
    border-bottom: 2px solid #3b4261;
}

/* Arch Logo */

#custom-logo {
    background: transparent;
    color: #5884d4;
    margin: 3px 3px 3px 6px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 15px;
}

/* Workspaces */

#workspaces {
    margin: 3px 0;
}

#workspaces button {
    background: transparent;
    color: #565f89;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #5884d4;
    color: #171717;
}

#workspaces button:hover {
    background: #3b4261;
    color: #7aa2f7;
}

/* Modules */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background: transparent;
    color: #5884d4;
    margin: 3px 3px;
    padding: 0 10px;
    border-radius: 10px;
}

/* Right spacing */

#tray {
    margin-right: 6px;
}

/* Tooltip */

tooltip {
    background: #171717;
    border: 2px solid #3b4261;
    border-radius: 10px;
}

tooltip label {
    color: #5884d4;
}
