* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    border: none;
}

window#waybar {
    background: #211105;
    color: #ebdbb2;

    border-radius: 16px;

    margin: 20px 50px 0px 50px;

    padding: 0px 10px;
}

#custom-logo {
    background: #107b9c;
    color: #fff1e8;
    margin: 0px;

    padding-left: 20px;
    padding-right: 24px;

    border-radius: 16px 0px 0px 16px;

    font-size: 18px;
    font-weight: bold;
}
/* Workspaces */

#workspaces {
    margin: 3px 0;
}

#workspaces button {
    background: transparent;
    color: #107b9c;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #107b9c;
    color: #1a1b26;
}

#workspaces button:hover {
    background: #44475a;
    color: #107b9c;
}

/* Modules */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background: transparent;
    color: #ebdbb2;
    margin: 0px;
    padding: 0 10px;
    border-radius: 10px;
}

/* Right spacing */

#tray {
    margin-right: 6px;
}

#cpu {
    background: #facb7f;
    color: #000000;
    font-weight: bold;
    border-radius: 0px;
}

/* MEMORY */

#memory {
    background: #107b9c;
    color: #000000;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}

/* VOLUME */

#pulseaudio {
    background: #e37b3b;
    color: #000000;
    font-weight: bold;
    border-radius: 0px;
}

#clock {
    font-weight: bold;
}

#custom-weather {
    font-weight: bold;
}

/* Tooltip */

tooltip {
    background: #1a1b26;
    border: 2px solid #44475a;
    border-radius: 10px;
}

tooltip label {
    color: #107b9c;
}
