* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    border: none;
}

window#waybar {
    background: rgba(46, 52, 64, 0.90);
    color: #d8dee9;
    border-bottom: 2px solid #4c566a;
}

/* Arch Logo */

#custom-logo {
    background: transparent;
    color: #d8dee9;
    margin: 3px 3px 3px 6px;
    padding: 0 10px;
    border-radius: 10px;
    font-size: 15px;
}

/* Workspaces */

#workspaces {
    margin: 3px 0;
}

#workspaces button {
    background: transparent;
    color: #81a1c1;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #d8dee9;
    color: #2e3440;
}

#workspaces button:hover {
    background: #4c566a;
    color: #eceff4;
}

/* Modules */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background: transparent;
    color: #d8dee9;
    margin: 3px 3px;
    padding: 0 10px;
    border-radius: 10px;
}

/* Right spacing */

#tray {
    margin-right: 6px;
}

#cpu {
    background: #ebcb8b;
    color: #000000;
    font-weight: bold;
    border-radius: 0px;
}

/* MEMORY */

#memory {
    background: #a3be8c;
    color: #000000;
    font-weight: bold;
    border-radius: 0px;
}

/* VOLUME */

#pulseaudio {
    background: #81a1c1;
    color: #000000;
    font-weight: bold;
    border-radius: 0px;
}

#clock {
    font-weight: bold;
}

#custom-weather {
    font-weight: bold;
}

/* Tooltip */

tooltip {
    background: #2e3440;
    border: 2px solid #4c566a;
    border-radius: 10px;
}

tooltip label {
    color: #d8dee9;
}
