configuration {
    modi: "drun";
    display-drun: "";
    display-run: "";
    display-window: "";
    show-icons: true;
    icon-theme: "Gruvbox-Plus-Dark";
    font: "Agave Nerd Font Mono 11";
    drun-display-format: "{icon} {name}";
}

* {
    bg:     rgba(20, 23, 28, 0.85);
    bg-alt: rgba(44, 49, 58, 0.75);
    fg:     #abb2bf;

    selected:#4889be;
    active: #81ae5f;
    urgent: #be5046;

    border-col: #4889be;

    background-color: transparent;
    text-color: @fg;
}

window {
    width: 600px;
    border: 2px;
    border-color: @border-col;
    border-radius: 14px;
    padding: 12px;
    background-color: @bg;
}

inputbar {
    background-color: @bg-alt;
    border: 1.5px;
    border-color: @border-col;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 12px 0;
}

prompt {
    enabled: false;
}

entry {
    placeholder: "Search...";
}

listview {
    lines: 8;
    spacing: 6px;
}

element {
    padding: 10px;
    border-radius: 10px;
}

element selected.normal {
    background-color: @selected;
    text-color: #14171c;
}

element selected.active {
    background-color: @active;
    text-color: #14171c;
}

element selected.urgent {
    background-color: @urgent;
    text-color: #14171c;
}

element-icon {
    size: 48px;
    margin: 0 12px 0 0;
}
