configuration {
    modi: "drun";
    display-drun: "";
    display-run: "";
    display-window: "";
    show-icons: true;
    icon-theme: "candy-icons";
    font: "Agave Nerd Font Mono 11";
    drun-display-format: "{icon} {name}";
}

* {
    bg:     rgba(14, 17, 19, 0.85);
    bg-alt: rgba(53, 60, 82, 0.75);
    fg:     #afb1db;

    selected:#5884d4;
    active: #61b33e;
    urgent: #e7034a;

    border-col: #5884d4;

    background-color: transparent;
    text-color: @fg;
}

window {
    width: 600px;
    border: 2px;
    border-color: @border-col;
    border-radius: 14px;
    padding: 12px;
    background-color: @bg;
}

inputbar {
    background-color: @bg-alt;
    border: 1.5px;
    border-color: @border-col;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 12px 0;
}

prompt {
    enabled: false;
}

entry {
    placeholder: "Search...";
}

listview {
    lines: 8;
    spacing: 6px;
}

element {
    padding: 10px;
    border-radius: 10px;
}

element selected.normal {
    background-color: @selected;
    text-color: #0E1113;
}

element selected.active {
    background-color: @active;
    text-color: #0E1113;
}

element selected.urgent {
    background-color: @urgent;
    text-color: #0E1113;
}

element-icon {
    size: 48px;
    margin: 0 12px 0 0;
}
