configuration {
    modi: "drun";
    display-drun: "";
    display-run: "";
    display-window: "";
    show-icons: true;
    icon-theme: "Gruvbox-Plus-Dark";
    font: "Agave Nerd Font Mono 11";
    drun-display-format: "{icon} {name}";
}

* {
    bg:     rgba(40, 42, 54, 0.85);
    bg-alt: rgba(68, 71, 90, 0.75);
    fg:     #f8f8f2;

    selected:#bd93f9;
    active: #50fa7b;
    urgent: #ff5555;

    border-col: #bd93f9;

    background-color: transparent;
    text-color: @fg;
}

window {
    width: 600px;
    border: 2px;
    border-color: @border-col;
    border-radius: 14px;
    padding: 12px;
    background-color: @bg;
}

inputbar {
    background-color: @bg-alt;
    border: 1.5px;
    border-color: @border-col;
    border-radius: 10px;
    padding: 10px;
    margin: 0 0 12px 0;
}

prompt {
    enabled: false;
}

entry {
    placeholder: "Search...";
}

listview {
    lines: 8;
    spacing: 6px;
}

element {
    padding: 10px;
    border-radius: 10px;
}

element selected.normal {
    background-color: @selected;
    text-color: #282a36;
}

element selected.active {
    background-color: @active;
    text-color: #282a36;
}

element selected.urgent {
    background-color: @urgent;
    text-color: #282a36;
}

element-icon {
    size: 48px;
    margin: 0 12px 0 0;
}
