* {
    font-family: "JetBrainsMono Nerd Font";
    font-size: 12px;
    min-height: 0;
    border: none;
}

window#waybar {
    background: #1e1e2e;
    color: #cdd6f4;
    border: none;
    border-radius: 0px;
    margin: 20px 0px 0px 0px;

    padding: 0px;

}

#custom-logo {
    background: #1e1e2e;
    color: #89B4FA;
    margin: 0px;

    padding-left: 20px;
    padding-right: 24px;

    border-radius: 0px;

    font-size: 18px;
    font-weight: bold;
}
/* Workspaces */

#workspaces {
    margin: 3px 0;
}

#workspaces button {
    background: #1e1e2e;
    color: #89B4FA;
    margin: 0 2px;
    padding: 0 10px;
    border-radius: 8px;
    transition: all 0.2s ease;
}

#workspaces button.active {
    background: #89B4FA;
    color: #1e1e2e;
}

#workspaces button:hover {
    background: #313244;
    color: #89B4FA;
}

/* Cava */

#custom-cava {
    background: transparent;
    color: #89B4FA;
    margin: 0px;
    padding: 0 10px;
    font-weight: bold;
}

/* Modules */

#clock,
#cpu,
#memory,
#network,
#pulseaudio,
#tray {
    background: #1e1e2e;
    color: #89B4FA;
    margin: 0px;
    padding: 0 10px;
    border-radius: 10px;
}

#tray {
    margin-right: 6px;
}

#cpu {
    background: #1e1e2e;
    color: #89B4FA;
    font-weight: bold;
    border-radius: 0px;
}

/* MEMORY */

#memory {
    background: #1e1e2e;
    color: #89B4FA;
    font-weight: bold;
    border-radius: 0px 10px 10px 0px;
}

/* VOLUME */

#pulseaudio {
    background: #1e1e2e;
    color: #89B4FA;
    font-weight: bold;
    border-radius: 0px;
}

#clock {
    font-weight: bold;
}

#custom-weather {
    background: #1e1e2e;
    color: #89b4fa;
    font-weight: bold;
}

tooltip {
    background: #1e1e2e;
    border: 2px solid #313244;
    border-radius: 10px;
}

tooltip label {
    color: #89B4FA;
}
